@charset "ISO-8859-1";
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #00ff00;}

h3{
	color:black;
	
	text-align: center;
}
body {

	background-color: #00ffff;
}

